body {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../images/background-2.png);
}

.content {
  font-family: Arial;
  font-size: 1.5em;
  width: 50%;
  margin: 0px auto;
  border: 5px groove orange;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: white;
}

.main-nav {
background-color: #8B4513;
padding: 10px ;
margin-bottom: 20px;
}

.main-nav ul {
text-align: center;
}

.main-nav li {
display: inline-block;
margin: 0 15px;
}

.main-nav a {
color: white;
text-decoration: none;
padding: 5px 10px;
border-radius: 5px;
transition: background-color 0.3s;
}

.main-nav a:hover, .main-nav a.active {
  background-color: #A0522D;
  text-decoration: underline;
}

.internal-nav {
text-align: center;
margin: 20px 0;
padding: 10px;
background-color: #FFF8DC;
border-radius: 5px;
}

.internal-nav a {
color: #8B4513;
text-decoration: none;
margin: 0 10px;
}

.form-section {
border: 2px solid #8B4513;
padding: 20px;
margin: 20px 0;
border-radius: 10px;
background-color: #FFF8DC;
}

.form-section h2 {
color: #8B4513;
border-bottom: 1px solid #8B4513;
padding-bottom: 10px;
}

.form-section label {
display: inline-block;
width: 200px;
font-weight: bold;
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="date"],
.form-section input[type="password"],
.form-section textarea {
width: 300px;
padding: 5px;
border: 1px solid #8B4513;
border-radius: 3px;
}

.form-section input[type="submit"] {
background-color: #8B4513;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 1em;
}
.ingredient-card {
  border: 2px solid #8B4513;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  background-color: #FFF8DC;
}

.ingredient-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}
.ingredient-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-image: url('images/table-bg.jpg');
}
.ingredient-table th, .ingredient-table td {
  border: 1px solid #8B4513;
  padding: 10px;
  text-align: center;
}
.ingredient-table th {
  background-color: #8B4513;
  color: white;
}
.mini-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}


.block_with_info {
  width: 100%;
  display: inline-block;
}

.text_title_big {
  font-family: SEGOE SCRIPT;
  font-size: 2.2em;
  text-align: center;
}

.text_title_1_5_em {
  font-family: Times New Roman;
  font-size: 1.5em;
}

.text_left_and_photo_right {
  float: left;
  margin: 0 17px 7px 0;
  width: 50%;
  border-radius: 10px;
}

.text_oblique {
  font-style: oblique;
}

.new_line {
  margin-top: 10px;
}

.li_standart {
  list-style-position: inside;
  margin-bottom: 10px;
  overflow: hidden;
  margin-left: -35px;
}

.li_recipe {
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  margin-left: -35px;
}

.img_intro {
  width: 100%;
  padding-bottom: 40px;
}
